<%= form_tag coupons_path do %>
<label>New Coupon Form:</label><br>
<%= text_field_tag :'coupon[store]'%>
<%= text_field_tag :'coupon[coupon_code]'%>
<input type="submit" id="Submit Coupon" value="Submit">

<%end%>